body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #53D752;

  /****************************** header **************************************/
  /*************footer**********************/
}
body .flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body .flex_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
body .corps {
  max-width: 1120px;
  display: block;
  margin: auto;
}
body section {
  margin: 8em 0;
}
body p {
  color: white;
}
body h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 6px;
  color: white;
  text-align: center;
  margin: 2em 0;
}
body h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 6px;
  color: white;
  text-align: center;
}
body button {
  background-color: white;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
body button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
body header {
  padding: 3em;
}
body nav ul li a {
  text-decoration: none;
  color: white;
}
body li {
  list-style: none;
  margin: 0 10px;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 10px;
  text-align: center;
}
body li:hover {
  border: 1px solid;
  border-radius: 4px;
  border-color: white;
}
body .logo {
  height: 1.5em;
}
body h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 6px;
  color: white;
  text-align: center;
  margin: 2em 0;
}
body h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 6px;
  color: white;
  text-align: center;
}
body footer {
  border-top: 1px solid white;
  padding: 1em 20%;
  text-align: center;
}

.photojuliette img {
  height: 100px;
}
/******************************** Page Home ***********************************/
body.home {
  /****** hero *****************************/
  /************** intro ********************/
  /************** fiches ******************/
  /************* mediaqueries *************/
}
body.home h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: white;
  margin: 10px 0;
  letter-spacing: 6px;
  font-size: 70px;
}
body.home .background_img {
  background-image: url("images/jungle.jpg");
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
body.home .hero {
  margin: 6em;
  transform: translateX(-0%) translateY(+30%);
}
body.home .hero p {
  color: white;
  text-align: center;
  width: 50%;
  display: block;
  margin: auto;
  font-weight: 100;
}
body.home .paragraphe {
  width: 30%;
  text-align: center;
}
body .fiches figure img {
  width: 100%;
}
@media only screen and (max-width: 768px) {

  body .flex_row {
    display: block;
  }

  body.home .intro {
    display: flex;
    flex-direction: column;
  }
  body.home .paragraphe {
    width: 60%;
  }
  body.home .hero p {
    width: 90%;
  }
}
/******** Page Fiche Gorilla ***********************************/
body.fiche h1 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: white;
  margin: 100px 0;
  letter-spacing: 6px;
  font-size: 70px;
}

.fiche-parent {
  justify-content: space-around;
}
 .fiches figure {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
 .fiches {
  width: 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
}
.fiches p {
  text-align: center;
}
/******** Page Proboscis  ***********************************/
body.Proboscis  {
  /****** hero *****************************/
}
body.Proboscis  h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: white;
  margin: 10px 0;
  letter-spacing: 6px;
  font-size: 70px;
}
body.Proboscis  .txt_img h2 {
  margin: 0;
  font-size: 38px;
  text-align: left;
}
body.Proboscis  .background_img {
  background-image: url("images/monkeys.jpg");
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
body.Proboscis  .hero {
  margin: 6em;
}
body.Proboscis  .hero p {
  color: white;
  text-align: center;
  width: 50%;
  display: block;
  margin: auto;
  font-weight: 100;
}
body.Proboscis  .explication img {
  width: 70%;
}
body.Proboscis  .paragraphe {
  width: 30%;
  min-width: 330px;
  margin: 1em;
}
body.Proboscis  .paragraphe_intro {
  margin: 1.5em 0;
  text-align: left;
  width: 516px;
}
@media only screen and (max-width: 700px) {
  body.Proboscis  .intro {
    display: flex;
    flex-direction: column;
  }
  body.Proboscis  .intro img {
    display: block;
    margin: auto;
    max-width: 500px;
  }
  body.Proboscis  .hero p {
    width: 90%;
  }
  body.Proboscis  .paragraphe_intro {
    text-align: center;
    margin: 1em 1em;
  }
  body.Proboscis  .txt_img {
    width: 90%;
    margin-top: 3em;
  }
}
@media only screen and (max-width: 500px) {
  body.Proboscis  h1 {
    font-size: 36px;
  }
  body.Proboscis  header {
    display: flex;
    flex-direction: column;
  }
  body.Proboscis  header ul {

  }
}

/* menu */

.menu-toggle .burger-breads span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  z-index:1;
}

.menu-close .burger-breads span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: rgb(127, 140, 167);
}

.menu-close .burger-breads span:nth-child(2) {
  transform: rotate(135deg) translate(-6px, 9px);
}

.menu-close .burger-breads span:nth-child(3){
  opacity: 0;
}

ul li{
  list-style-type: none;
  margin: 10px;
}

/* Style */
.menu-toggle {
  display: inline-block;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 25px;
}


.main-menu {
  position: absolute;
  top: 0;
  bottom:0;
  height: 100%;
  overflow-x: visible;
  transition: left O.3s ease, box-shadow 0.3s ease;
  z-index: 999;
  display: none;
  left: -200px;
}
.main-menu ul {
  margin: 0;
  padding: 2.5em 0 0;
  min-height: 100%;
  width: 200px;
  background: (41,46,56);
}
.main-menu a {
  display: block;
  padding: .15px 32px;
  line-height: 1em;
  font-size:1em;
  color: #fff;
  text-decoration: none;
}
.main-menu a:hover,
.main-menu a:focus {
  text-decoration: none;
}
.main-menu .menu-close {
  position: absolute;
  right: -15px;
  top:30px;
  border-bottom: 1px solid transparent;
}
.main-menu{
  display: block;
}
.main-menu:target{
  display: block;
  left: 0;
  outline: none;
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  background-color: black;
}

.main-menu:target .menu-close{
  z-index: 1001;
}

.main-menu:target ul{
  position: relative;
  z-index: 1000;
}

/* we could us '.main-menu:target:after', but it wouldn't be clickable*/
.main-menu:target + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop{
    position: fixed;
  }
}

/* Large screen styling - Horizontal menu */
@media (min-width: 768px)
{
  .menu-toggle,
  .main-menu .menu-close,
  .main-menu:target + .backdrop
  {
    display: none;
  }
  /* Undo positioning of off-canvas menu */
  .main-menu
  {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    display: block;
    background-color: transparent;
  }
  .main-menu:target{
    background-color: transparent;
  }
  .main-menu ul
  {
    display: flex;
    /* Undo off-canvas styling */
    padding: 0;
    height: auto;
    width: auto;
    background: none;
  }
  .main-menu a
  {
    color: rgb(255, 255, 255);
    border: 0 !important;
  }
  .main-menu a:hover,
  .main-menu a:focus
  {
    background: none;
    color: white;
  }
  .imagesinge{
    object-fit: cover;
    object-position: right;
    width: 49vw;
    height: 100vh;
  }
.flex_wrap{
  column-count: 3;
  column-gap: 40px;
  column-width: 350px;
  }
  .span{
    column-span: all;
  }
  .child{
    background-color: Green;
    border: 1em solid brown;
    width: 4em;
    transition: all 4s ease;
  }
  .parent:hover .child{
    transform: rotate(720deg);
    margin-left: 10em;
    border-radius: 100%;
  }
}


.info_gen_proboscis{
  text-align: left;
}
.info_gen_proboscis + section {
  margin-top: 2em;
}

@media (max-width:1000px) {
  body.Proboscis  .background_img {
    background-image: url("images/gorilla.jpg");
  }
}
@media (max-width:700px) {
  body.Proboscis  .background_img {
    background-image: url("images/gorilla2.jpg");
  }
.info_gen_proboscis{
  text-align: center;
}

}
@media (max-width:500px) {
  body.Proboscis  .background_img {
    background-image: url("images/gorilla3.jpg");
  }
}

.strip-image img{
  height: 9em;
  width: 100%;
  object-fit: cover;
}

.marge{
  margin-top: 50px;
}

@media (max-width:1000px) {
    body footer.flex_row {
      display: block;
    }
  }
}
